<html>
<head>
  <title>PostComment</title>
</head>
<body>
<h3>Recent comments on <a href="<%= @article.permalink %>"><%= @article.title %></a></h3>

<table border=1>
<th>Commenter</th><th>Status</th><th>Comment</th>
<% @article.comments.each do |comment| %>
  <tr><td><%= comment.author %></td><td><%= comment.status %></td><td><%= comment.content%></td></tr>
<% end %>
</table>
<p>Brought to you by <a href="https://github.com/dwillis/post_haste">PostHaste</a> and <a href="http://www.heroku.com/">Heroku</a>.</p>

</body>
</html>