<html>
<head>
  <title>PostComment</title>
</head>
<body>
<h3>Recent comments on <a href="<%= @article.permalink %>"><%= @article.title %></a></h3>

<h5>Comments highlighted in light blue mention new Post owner Jeff Bezos</h5>

<table class="table table-striped">
<th>Commenter</th><th>Status</th><th>Comment</th>
<% @article.comments.each do |comment| %>
  <% if comment.content.include?('Bezos') %>
    <tr class='info'><td><%= comment.author %></td><td><%= comment.status %></td><td><%= comment.content %></td></tr>
  <% else %>
    <tr><td><%= comment.author %></td><td><%= comment.status %></td><td><%= comment.content %></td></tr>
  <% end %>
<% end %>
</table>
<p>Brought to you by <a href="https://github.com/dwillis/post_haste">PostHaste</a> and <a href="http://www.heroku.com/">Heroku</a>.</p>

</body>
</html>